ul {list-style: none;}
body {background: rgb(139,133,133);background: linear-gradient(153deg, rgba(139,133,133,1) 0%, rgba(3,3,3,1) 60%);color:white}
h1 {font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: xx-large;color: darkslateblue;}